<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<a th:href="@{backPerson(userId=${userId})}"><input type="button" value="戻る"></a>
		<h2 align="center">カート</h2>
		<table align="center" border="1px">
				<tr>
					<th>商品ID</th>
					<th>商品タイプ</th>
					<th>商品情報</th>
					<th>売価</th>
					<th>個数</th>
					<th>操作</th>
				</tr>
				<tr th:each="cart:${cartList}">
					<!-- <input type="text" th:value="${userId}"> -->
					<td th:text="${cart.pId}"></td>
					<td th:text="${cart.productType}"></td>
					<td th:text="${cart.productIntro}"></td>
					<td th:text="${cart.sales}"></td>
					<td th:text="${cart.number}"></td>
					<td align="center">
						<span><a th:href="@{delectCartItem(productId=${cart.pId},userId=${userId})}"><input type="button" value="削除"></a></span>
						<span><a th:href="@{buyProcess(productId=${cart.pId},userId=${userId},sales=${cart.sales},number=${cart.number})}"><input type="button" value="購入手続きへ"></a></span><br />
					</td>
				</tr>
			</table>
	</body>
</html>
