<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<script language="javascript" type="text/javascript">
		    const func1 = (page) => {
		      document.form1.action = `${page}.html`;
		      document.form1.submit();
		    };
		</script>
		<h2 align="center">管理者編集</h2>
		<form action="editControl">
			<table align="center" border="1px">
				<input type="hidden" name="controlId" th:value="${control.id}">
				<input type="hidden" name="controlLoginId" th:value="${control.controlLogin.id}">
				<tr>
					<td>ユーザー名</td>
					<td><input type="text" disabled th:value="${control.controlName}"></td>
				</tr>
				<tr>
					<td>性別</td>
					<td>
						<input type="text" th:value="${control.sex}" disabled="disabled">
					</td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><input type="text" name="tel" th:value="${control.tel}"></td>
				</tr>
				<tr>
					<td>状態</td>
					<td>
						<select name="status">
							<option disabled selected hidden>選択...</option>
							<option selected="selected">在職中</option>
							<option>退職</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td>確認パスワード</td>
					<td><input type="password"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<!-- <span th:if="${str == 'control'}"> -->
							<a th:href="@{backControlAll}"><input type="button" value="戻る"></a>
						<!-- </span> -->
						<!-- <span th:if="${str == 'managers'}"> -->
							<!-- <a th:href="@{backManagers(loginId=${control.getControlLogin().getLoginId()},password=${control.getControlLogin().getPass()})}"><input type="button" value="戻る"></a> -->
						<!-- </span> -->
						<input type="submit" value="保存">
						<input type="reset" value="リセット">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
