<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>

	<script type="text/javascript" th:inline="javascript">
		window.onload = function(){
			var loginError = document.getElementById(loginError);
			loginError.innerText = [[${loginError}]];
		}
	</script>
	<span id="loginError"></span>
		<center>
			<h2>ユーザーログイン</h2>
			<form action="/login" method="post">
				<table>
					<tr>
						<td>ログインID：</td>
						<td><input type='text' name='userid'></td>
					</tr>
					<tr>
						<td>パスワード：</td>
						<td><input type='password' name='password'></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type='submit' value='ログイン'>
						<a th:href="@{userAdd?str=login}"><input type="button" value='登録'></a>
						</td>
						<!-- <td></td> -->
					</tr>
				</table>
			</form>
		</center>
	</body>
</html>
