<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<center>
			<h2>ショップデータ管理システム</h2>
			<form>
				<table>
					<tr>
						<td>ログインID：</td>
						<td><input type='text' name='userid'></td>
					</tr>
					<tr>
						<td>パスワード：</td>
						<td><input type='password' name='password'></td>
					</tr>
					<tr>
						<td><input type='submit' value='ログイン'></td>
						<td><input type='reset' value='リセット'></td>
					</tr>
				</table>
			</form>

		</center>

	</body>

</html>
