<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
	<div>
		<center>
			<h2>ショップデータ管理</h2>
		</center>
	</div>
	<div class='a'>
		<ul>
			<li>管理権限
				<ol>
					<li><a th:href="@{/characterAll}">権限種類</a></li>
					<li><a th:href="@{/controlAll}">管理者一覧</a></li>
				</ol>
			</li>
			<li>ユーザー管理
				<ol>
					<li><a th:href="@{/userAll}">ユーザー一覧</a></li>
				</ol>
			</li>
			<li>商品管理
				<ol>
					<li><a th:href="@{/productAll}">商品一覧</a></li>
				</ol>
			</li>
			<li>注文管理
				<ol>
					<li><a th:href="@{/orderAll}">注文一覧</a></li>
				</ol>
			</li>
		</ul>
	</div>
	<div align="center">
		<a th:href="@{/index}"><input type="button" value="ログアウト"></a>
	</div>
</body>
</html>
