<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h2 th:align="center">注文一覧</h2>
		<table align="center" border="1px">
			<tr>
				<th>注文番号</th>
				<!-- <th>商品ID</th> -->
				<th>ユーザー名</th>
				<th>注文状況</th>
				<th>支払状況</th>
				<th>総額</th>
				<th>支払金額</th>
				<th>住所</th>
				<th>注文数</th>
				<th>支払時間</th>
				<th>確認時間</th>
				<th>注文時間</th>
				<th>編集時間</th>
				<th>操作</th>
			</tr>
			<form>
				<tr>
					<td><input type="text" name="orderid" placeholder="注文番号"></td>
					<!-- <td><input type="text" name="pid" placeholder="商品ID"></td> -->
					<td><input type="text" name="uname" placeholder="ユーザー名"></td>
					<td><input type="text" name="status" placeholder="注文状況"></td>
					<td><input type="text" name="statusbybuy" placeholder="支払状況"></td>
					<td><input type="text" name="total" placeholder="総額"></td>
					<td><input type="text" name="payment" placeholder="支払金額"></td>
					<td><input type="text" name="address" placeholder="住所"></td>
					<td><input type="text" name="numberbyorder" placeholder="注文数"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td align="center"><input type="submit" value="検索"></td>
				</tr>
			</form>
				<tr th:each="order:${orderList}" align="center">
					<td th:text="${order.orderId}"></td>
					<!-- <td></td> -->
					<td th:text="${order.user.userName}"></td>
					<td th:text="${order.statusByOrder}"></td>
					<td th:text="${order.statusByBuy}"></td>
					<td th:text="${order.total}"></td>
					<td th:text="${order.payment}"></td>
					<td th:text="${order.address}"></td>
					<td th:text="${order.numberByOrder}"></td>
					<td th:text="${order.payTime}"></td>
					<td th:text="${order.ConfirmationTime}"></td>
					<td th:text="${order.dateCreated}"></td>
					<td th:text="${order.dateModified}"></td>
					<td align="center">
						<span><a th:href="@{checkOrder(orderId=${order.orderId})}"><input type="button" value="確認"></a></span><br/>
						<span><a th:href="@{orderEdit(orderId=${order.orderId})}"><input type="button" value="支払"></a></span><br/>
						<span><a th:href="@{deleteOrder(orderId=${order.orderId})}"><input type="button" value="削除"></a></span>
					</td>
				</tr>
		</table>
		<div align="center">
			<a th:href="@{menu}"><input type="button" value="戻る"></a>
		</div>
		<!-- <div align="center"><input type="button" value="新規追加"></div> -->
	</body>
</html>
