<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h2 th:align="center">注文一覧</h2>
		<table align="center" border="1px">
			<tr>
				<th>注文番号</th>
				<!-- <th>商品ID</th> -->
				<th>ユーザー名</th>
				<th>支払方法</th>
				<!-- <th>総額</th> -->
				<th>支払金額</th>
				<th>住所</th>
				<th>注文状況</th>
				<th>支払状況</th>
				<th>注文数</th>
				<th>支払時間</th>
				<th>確認時間</th>
				<th>注文時間</th>
				<th>編集時間</th>
				<th>操作</th>
			</tr>
			<form action="/searchOrder">
				<tr>
					<td><input type="text" style="width: 200px" name="orderId" placeholder="注文番号"></td>
					<td><input type="text" style="width: 150px" name="userName" placeholder="ユーザー名"></td>
					<td></td>
					<!-- <td><input type="text" style="width: 70px" name="total" placeholder="総額"></td> -->
					<td>
						<input type="text" style=width:50px; name="payment1" placeholder="最小値"> ~
						<input type="text" style=width:50px; name="payment2" placeholder="最大値">
					</td>
					<td><input type="text" name="address" placeholder="住所"></td>
					<td></td><!-- <input type="text" style="width: 85px" name="status" placeholder="注文状況"> -->
					<td></td><!-- <input type="text" style="width: 85px" name="statusByBuy" placeholder="支払状況"> -->
					<td></td><!-- <input type="text" style="width: 50px" name="numberbyorder" placeholder="注文数"> -->
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td align="center"><input type="submit" value="検索"></td>
				</tr>

			</form>
				<tr th:each="order:${orderList}" align="center">
					<td style="width: 180px">
						<p th:text="${order.orderId}"></p>
						<div th:each="product:${order.product}">
							<div><img th:src="${product.photo}" width="50px" align="left"></div>
							<div><ins><p th:text="${product.productIntro}"></p></ins></div>
							<div>合計:¥<label th:text="${order.total}"></label>円</div>
						</div>
					</td>
					<td align="left">
						<label>名前:</label><span th:text="${order.user.userName}"></span><br>
						<label>電話番号:</label><span th:text="${order.user.tel}"></span>
						<span></span>
					</td>
					<td th:text="${order.buyWay}"></td>
					<!-- <td th:text="${order.total}"></td> -->
					<td th:text="${order.payment}"></td>
					<td th:text="${order.address}"></td>
					<td th:text="${order.statusByOrder}"></td>
					<td th:text="${order.statusByBuy}"></td>
					<td th:text="${order.numberByOrder}"></td>
					<td th:text="${order.payTime}"></td>
					<td th:text="${order.ConfirmationTime}"></td>
					<td th:text="${order.dateCreated}"></td>
					<td th:text="${order.dateModified}"></td>
					<td align="center">
						<span><a th:href="@{checkOrder(orderId=${order.orderId})}"><input type="button" value="確認"></a></span><br/>
						<span><a th:href="@{orderEdit(orderId=${order.orderId})}"><input type="button" value="支払"></a></span><br/>
						<span><a th:href="@{deleteOrder(orderId=${order.orderId})}"><input type="button" value="削除"></a></span>
					</td>
				</tr>
		</table>
		<div align="center">
				<a th:href="@{menu}"><input type="button" value="戻る"></a>
		</div>
	</body>
</html>
