<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div>
			<table width="100%">
				<tr>
					<td th:text="${userlogin.userinfo.userName}"></td>
					<td align="right"><a th:href="@{intoBasket(userId=${userlogin.userinfo.id})}"><input type="button" value="カート"></a>&nbsp;&nbsp;
					<a th:href="@{/index}"><input type="button" value="ログアウト"></a>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div>
			<div align="center">
				<form>
					<input type="text" name="text">
					<input type="submit" value="検索">
				</form>
			</div>
			<br/>
			<table align="center" border="1px">
				<tr>
					<th>商品ID</th>
					<th>商品タイプ</th>
					<th>商品情報</th>
					<th>売価</th>
					<th>操作</th>
				</tr>
				<tr th:each="product:${productList}" align="center">
					<td th:text="${product.id}"></td>
					<td th:text="${product.productType}"></td>
					<td th:text="${product.productIntro}"></td>
					<td th:text="${product.sales}"></td>
					<td align="center">
						<span><a th:href="@{basketIn(productId=${product.id},userId=${userlogin.userinfo.id},email=${userlogin.userinfo.email},password=${password})}"><input type="button" value="カートに入れる"></a></span><br />
						<span><a href="productEdit.html"><input type="button" value="今すぐ買う"></a></span><br />
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
