<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h2 align="center">商品一覧</h2>
		<table align="center" border="1px">
			<tr>
				<th>商品ID</th>
				<th>商品タイプ</th>
				<th>商品情報</th>
				<th>ステータス</th>
				<th>売価</th>
				<th>原価</th>
				<th>在庫</th>
				<th>アクセス回数</th>
				<th>登録時間</th>
				<th>更新時間</th>
				<th>操作</th>
			</tr>
			<!-- 検索 -->
			<form action="/searchProduct" method="get">
				<tr>
					<td><input type="text" style=width:50px; name="productId" placeholder="商品ID"></td>
					<td><input type="text" style=width:100px; name="productType" placeholder="商品タイプ"></td>
					<!-- 消費の写真とリンクを<a></a>タグで挿入 -->
					<td><input type="text" style=width:100px; name="productIntro" placeholder="商品情報"></td>
					<td></td>
					<td>
						<input type="text" style=width:50px; name="sales1" placeholder="最小値"> ~
						<input type="text" style=width:50px; name="sales2" placeholder="最大値">
					</td>
					<td>
						<input type="text" style=width:50px; name="cost1" placeholder="最小値"> ~
						<input type="text" style=width:50px; name="cost2" placeholder="最大値">
					</td>
					<td>
						<input type="text" style=width:50px; name="stock1" placeholder="最小値"> ~
						<input type="text" style=width:50px; name="stock2" placeholder="最大値">
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td align="center"><input type="submit" value="検索"></td>
				</tr>
			</form><!-- th:text="${product.productIntro}" -->
			<tr th:each="product:${productList}" align="center">
				<td th:text="${product.id}"></td>
				<td th:text="${product.productType}"></td>
				<td >
					<div>
						<img th:src="${product.photo}" width="80px" >
					</div>
					 <ins><span th:text="${product.productIntro}"></span></ins>
				</td>
				<td th:text="${product.status}"></td>
				<td th:text="${product.sales}"></td>
				<td th:text="${product.cost}"></td>
				<td th:text="${product.stock}"></td>
				<td th:text="${product.AccessNumber}"></td>
				<td th:text="${product.dateCreated}"></td>
				<td th:text="${product.dateModified}"></td>
				<td align="center">
					<span><input type="submit" value="詳細"></span><br />
					<span><a th:href="@{productEdit(productId=${product.id})}"><input type="button" value="編集"></a></span><br />
					<span><a th:href="@{deleteProduct(productId=${product.id})}"><input type="button" value="削除"></a></span><br />
					<!-- <span><input type="button" value="削除"></span> -->
				</td>
			</tr>
		</table>
		<div align="center">
			<!-- <span th:if="${str == 'productAll'}"> -->
				<a th:href="@{menu}"><input type="button" value="戻る"></a>
			<!-- </span> -->
			<!-- <span th:if="${str == 'managers'}">
				<a th:href="@{backManagers(userid=${control.getControlLogin().getLoginId()},password=${control.getControlLogin().getPass()})}"><input type="button" value="戻る"></a>
			</span> -->
			<a th:href="@{productAdd}"><input type="button" value="新規追加"></a>
		</div>
	</body>
</html>
